.Rproj.user
.Rhistory
# Session Data files
.RData

# User-specific files
.Ruserdata

.DS_Store
input_data/.DS_Store
input_data/vector/.DS_Store


# History files 
.Rhistory


# plots
plot0.png
plot1.png
plot1B.png
plot2B.png
plot2.png
plot3.png


# misc
misc/pres_files/*
misc/presentation_files
misc/*~
misc/

# presentations
figs for presentation.R


#output data

