.Rproj.user
.Rhistory
.RData
.Ruserdata



# History files 


# plots
plot0.png
plot1.png
plot1B.png
plot2B.png
plot2.png
plot3.png


# misc
misc/pres_files
misc/presentation_files
misc/*~
misc/

# presentations
figs for presentation.R


#output data

