.Rproj.user
.Rhistory
# Session Data files
.RData

# User-specific files
.Ruserdata

.DS_Store
input_data/.DS_Store
input_data/vector/.DS_Store
input_data/vector/animal_data/data_ready_rsf.rds

# History files 
.Rhistory


# plots
plot0.png
plot1.png
plot1B.png
plot2B.png
plot2.png
plot3.png


# presentations
figs for presentation.R


#input data
input_data/ignore
output_data/ignore/


# folders
misc/
Tutorial_files/
tmp-



